.form-element {
    display: block;
    padding: 10px;
}

.text-field {
    display: inline;
}

.back-button {
    float: right;
    margin: 10px;
}

.client-header {
    position: absolute;
    margin-bottom: 0;
    width: 50%;
    right: 25%;
    text-align: center;
}

.header {
    position: relative;
    display: inline-block;
    left: 15%;
    width: 70%;
    height: 10%;
}

.table-container {
    position: relative;
}

.text-align-center {
    text-align:center;
}

thead a {
    color: black;
}

.form-container {
    display: inline;
    position: relative;
    width: 80%;
    left: 10%;
    height: 40%;
}